secrets.yaml
*.log
*.log.*
*.xml
*.db
*.sqlite
*.gz
.storage
.sonoff.json
tts/
docker/
core
OZW_Log.txt
known_devices.yaml
*__pycache*
.gitsecret/keys/random_seed
!*.secret
.storage/core.config
.storage/auth
.storage/http
custom_components/hacs/
custom_components/sonoff/
custom_components/var/
custom_components/nicehash/
custom_components/reolink_dev/