secrets.yaml
*.log
*.xml
*.db
*.sqlite
*.gz
.storage/hacs*
.storage/core.restore_state
.storage/mobile_app
.sonoff.json
tts/
custom_components/hacs/
custom_components/sonoff/
core
OZW_Log.txt
known_devices.yaml
*__pycache*
.gitsecret/keys/random_seed
!*.secret
.storage/core.config
.storage/auth
.storage/http
